<%- include("top.ejs") %>
<main>
    <link href="/CSS/style.css" rel="stylesheet" type="text/css">
    <form action="/Add" method="post">
        <input type="text" name="first_name"   id="first_name" placeholder="first_name"/> <br><br>
        <input type="text" name="last_name"    id="last_name"   placeholder="last_name"/> <br><br>
        <button>send</button>
    </form>
    <!--<script>
        async function GetWorkers() {
            let response = await fetch('workers/List');
            // console.log("response=",response);
            let data = await response.json();
            console.log("data=",data);

            let s='';
            for(let row of data){
                s+=`<option value="${row.id}">${row.name}</option>`;
            }
            document.getElementById("category_id").innerHTML=s;
        }
        GetWorkers();
    </script>-->
</main>