<%- include("top.ejs") %>
<main>
    <body>
    <link href="/CSS/style.css" rel="stylesheet" type="text/css">

    <button id="List">Click to see all workers</button><br><br>


    <form action="/workers/Add" method="post">
        <input type="text" name="name1"   id="first_name" placeholder= "Enter first name"/> <br>
        <input type="text" name="name2"   id="last_name"   placeholder="Enter last name"/> <br>
        <button onclick="AddLine();"> send </button>
    </form>
    <br><br>
    <form action="/workers/Edit" method="post">
        <input type="text" name="wID" id="worker_id" placeholder="Enter worker ID to edit"><br>
        <input type="text" name="FNE" id="first_name_edit" placeholder="Enter new first name"><br>
        <input type="text" name="LNE" id="last_name_edit" placeholder="Enter new last name"><br>
        <button> send </button>
    </form>
    <br><br>
    <form action="/workers/Delete" method="post">
        <input type="text" name="wID" id="worker_id_delete" placeholder="Enter worker ID to delete"><br>
        <button> send </button>
    </form>
    <br><br>
    </body>
    <script>
        async function AddLine(){
            let name=document.getElementById("first_name").value;
            let lastName=document.getElementById("last_name").value;
            let response = await fetch('/Add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({first_name: name, last_name: lastName})
                }
            );
            let jsn=await response.json();
            console.log(jsn);
        }

        document.getElementById("List").addEventListener("click", function() {

            let url = "http://localhost:3000/workers/List";
            window.location.href = url;
        });
    </script>
    <script src="/routers/workersR.js"></script>
</main>